<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

    <variable name="logdir" value="C:\Temp" />
 
    <!--
    See https://github.com/nlog/nlog/wiki/Configuration-file
    for information on customizing logging rules and outputs.
     -->
    <targets>
      <target name="mylog" xsi:type="File" fileName="C:\Temp\mylog.log">
        <layout xsi:type="CsvLayout" delimiter="Tab" withHeader="false">
          <column layout="${longdate}" />
          <column layout="${machinename}" />
          <column layout="${windows-identity}" />
          <column layout="${processid}" />
          <column layout="${uppercase:${level}}" />
          <column layout="${message}" />
          <column layout="${exception:format=toString}" />
        </layout>
      </target>
    </targets>
 
    <rules>
      <logger name="MyLogger" minlevel="Debug" writeTo="mylog" />
    </rules>
</nlog>
